.auto-type {
    display: 'flex';
    /* justify-content: 'center';
    align-items: "center";
    height: '100vh'; */
    /* background-color: aqua; */
    font-size: 65px;
    margin-left: 20%;
    margin-top: 20%;
    color:rgb(97, 165, 42);

}

.intro {
    font-size: 35px;
    color:azure;
    margin-left: 20%;
    margin-bottom: 10px;
}

.expend { 
    display: flex; 
  
    margin-left: 40%;
    color: white;
    
}

.landingPage {
    /* background-color: red; */
    margin-bottom: 250px;

}